<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Tatsuya Takamura" />
    <link href="http://blog.tkmr.org/atom.xml" rel="alternate" title="blog.tkmr.org" type="application/atom+xml" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  </head>
  <body>
    {{ content }}
  </body>
</html>
